{% extends 'category/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1 class="text-center text-info my-3">all page</h1>
<div class="container col-md-6 offset-3">
    <a href="{% url 'pro-create' %}" class="btn btn-sm btn-primary">Create <i class="fa fa-plus"></i></a>

    <table class="table table-bordered mt-2">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Cat_id</th>
            <th scope="col">Name</th>
            <th scope="col">Created At</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for pro in pros %}
          <tr>
            <td>{{pro.id}}</td>
            <td>{{pro.cat_id}}</td>
            <td>{{pro.name}}</td>
            <td>{{pro.created_at}}</td>
            <td><a href=""><img src="{{pro.image.url}}" width="50" height="50" alt=""></a></td>
            <td>{{pro.price}}</td>
            <td>
                <a href="{% url 'pro-edit' pro.id %}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></a>
                <a href="{% url 'pro-delete' pro.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
         {% endfor %}
        </tbody>
      </table>

</div>

{% endblock %}